.project {
    min-height: 100vh;
    width: 100%;
    align-items: center;
    display: flex;
}

.project__name {
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.project__first {
    width: 100%;
    background-color: var(--body-color);
}

@media screen and (min-width: 0px) {
    .swiper-container {
      width: 0px;
    }
    .swiper {
        height: 390px;
    }
}

@media screen and (min-width: 600px) {
    .swiper-container {
      width: 600px;
    }
    .swiper {
        height: 420px;
    }
}
  
@media screen and (min-width: 900px) {
    .swiper-container {
      width: 900px;
    }
    .swiper {
        height: 450px;
    }
}
