.project {
    background-color: var(--body-color);
    min-height: 100vh;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
}

.project__name {
    margin-bottom: 3rem;
}
