/* https://fonts.google.com/specimen/Varela+Round */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
  --body-font: 'Varela Round', sans-serif;
  --small-font-size: 1rem;
  --normal-font-size: 1.2rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.75rem;
  --h3-font-size: 1.25rem;

  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  --first-color: #dd7f7f;
  --title-color: hsl(0, 7%, 11%);
  --text-color: hsl(0, 0%, 0%);
  --body-color: #F9FBE7;
  --container-color: #F0EDD4;

  --border-radius: 20px;
}

@media screen and (max-width: 1024px) {
  :root {
    --small-font-size: 0.8rem;
    --normal-font-size: 0.875rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
  }
}

@media screen and (max-width: 992px) {
  .container {
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body, button, input, textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  line-height: 1.7;
  color: var(--text-color);
  align-items: center;
  justify-content: center;
}

h1, h2, h3 {
  color: var(--text-color);
  font-weight: var(--font-semibold);
  line-height: 1.2;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.container {
  max-width: 1080px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

.grid {
  display: grid;
}

.section {
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
  position: relative;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__subtitle {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  position: relative;
  margin-bottom: 5rem;
  color: rgb(112, 110, 110);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  padding: 0.75rem 2rem;
  line-height: 1;
  border-radius: 1.875rem;
  box-shadow: 0 0 1px rgb(0 0 0 / 0%);
  color: #fff;
  display: inline-block;
  background-color: var(--first-color);
  font-weight: var(--font-bold);
  transition: all .15s ease-in-out;
}

.btn:hover {
  transform: scale(1.15);
}

.btn:active {
  transform: scale(0.85);
}
